@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:300,300i,400,400i,500,500i,700,700i,900');

body {
    display : none;
}

:not(i){
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

strong, b {
    font-weight: bold;
}

p {
    font-weight: 400;
    font-size: 19px;
}

h2,h3,h4,h5 {
    color: #1564aa;
    font-weight: 600;
}

p, b, strong {
    color: #323232;
}


.center {
    max-width: 900px !important;
    display: block;
    margin: auto !important;
}

.img-center {
    max-width: 100%;
    height: auto;
}

.navbar-nav>li:before {
    content: '|';
    position: absolute;
    top: 12px;
    font-size: 17px;
}

img {
    max-width: 100%;
}

.logo {
    height: 100%;

}
.logo img {
    width: 150px;
    margin-top: -29px;
    position: relative;
    z-index: 999;
}

.header-fixed .logo img {
    margin-top: -18px;
}
.alignright {
    float: right;
}

.no-before:before {
    display: none;
}

.no-padding-right-desktop {
    padding-right: 0px;
}

.margin-right-90 {
    margin-right: 90px !important;
}
nav.navbar.navbar-default {
    padding-top: 18px;
    padding-bottom: 10px;
    height: 96px;
    background: #fff;
    border: none;
    float: left;
    border-radius: 0px;
    width: 100%;
    margin-bottom: -21px;
}

nav.navbar.navbar-default.header-fixed {
    position: fixed;
    top: 0px;
    z-index: 99999;
    background: #dcdcdc;
    height: 86px;
    padding-top: 10px;
    display: none;
}

nav.navbar.navbar-default.desktop.header-fixed.nav-up {
    display: block;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background: TRANSPARENT;
    text-decoration: none;
    color: #15649d;
}

.navbar-default .navbar-nav>li>a {
    font-weight: 500;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #15649d;
}

.navbar-nav>li:nth-child(1):before{
    display: none;
}

.menu-topo {
    float: left;
    width: 100%;
    padding: 0px 18px;
    background-color: #535353;
}

.menu-topo a {
    color: #fff;
    font-weight: 500;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

ul.list-menu-top li {
    display: inline-block;
    margin-left: 15px;
    margin-top: 8px;
}

.menu-topo {
    text-align: right;
}

.user-links a {
    text-decoration: underline;
    color: #15649d !important;
}

.user-links a.botao-3 {
    color: #1d1d67 !important;
}

html header #myNavbar {
    background: #fff;
    position: relative;
    z-index: 9;
    top: 3px;
    margin-bottom: -11px;
    height: 48px !important;
}

header .header-fixed  .myNavbar {
    background: #dcdcdc;
    height: 47px !important;
    position: relative;
    top: 7px;
}

header .collapse.in {
    border-bottom: 1px solid #ddd;
}

.container-fluid {
    padding-left: 44px;
    padding-right: 44px;
}

footer h3 {
    font-weight: 600;
    margin-bottom: 40px;
    color: #454545;
    font-size: 30px;
}

footer ul {
    list-style: none;
    padding: 0px;
}

footer ul li {
    margin-bottom: 20px;
}

footer ul a {
    color: #535353;
    font-weight: 500;
    font-size: 17px;
}

footer ul strong {
    font-weight: 600;
    font-size: 17px;
}

footer strong {
    font-weight: 600;
    color: #535353;
    font-size: 17px;
}

p.end {
    margin-top: 25px;
    font-weight: 500;
    color: #535353;
    font-size: 16px;
    float: left;
    width: 100%;
}

.menu-footer-bottom li {
    display: inline-block;
    margin-left: 27px;
}

.menu-footer-bottom li a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.menu-footer-bottom li a:hover, .menu-footer-bottom li.current_page_item  a {
    color: #3484cc;
    text-decoration: none;
    font-weight: 600;
}

.menu-footer-bottom {
    float: right;
    text-align: right;
    padding-top: 40px;
}

footer .rede-sociais {
    max-width: 200px;
}
footer .rede-sociais img {
    width: 30px;
}

.rede-sociais strong {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.menu-footer-bottom li a:before {
    content: '|';
    position: absolute;
    top: 38px;
    font-size: 17px;
    margin-left: -16px;
}

.menu-footer-bottom li:nth-child(1) a:before {
    display: none;
}

.logo-sub-footer {
    width: 200px;
    height: auto;
    margin: 10px auto;
    display: block;
}

header,footer {
    float: left;
    width: 100%;
}

.title-1 {
    font-weight: 600;
    color: #585858;
}

.title-1:before {
    content: '';
    width: 80px;
    height: 7px;
    background-color: #15649d;
    margin-top: -19px;
    position: absolute;

}
.title-2 {
    font-weight: 600;
    color: #15649d;
    padding-top: 37px;
    padding-bottom: 20px;
}

.title-2:before {
    content: '';
    width: 80px;
    height: 7px;
    margin-left: -40px;
    left: 50%;
    background-color: #00eaff;
    position: absolute;
    margin-top: -17px;
}

.box-1 img {
    height: 116px !important;
    margin-bottom: 12px !important;
    display: initial !important;
}

.box-1 p {
    font-size: 21px;
    line-height: 23px;
    float: left;
    width: 100%;
}

.box-2 img {
    margin: 10px 36px;
    width: auto;
    max-height: 56px;
}

.box-3 {
    background: #ccc url('../img/banner3.png') no-repeat;
    height: 266px;
    background-size: cover;
    padding-top: 45px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.title-3 {
    color: #fff;
    font-weight: 600;
    padding-bottom: 15px;
}

.title-4 {
    font-weight: 600;
    color: #15649d;
    padding-top: 37px;
}

.box-2 {
    margin-bottom: 45px;
}

main {
    float: left;
    width: 100%;
    margin-top: 14px;
    overflow: hidden;
}

html .bt_bb_height_auto .slick-slider .slick-slide img {
    width: auto;
    height: auto;
}

.footer-bottom {
    border-top: 1px solid #5353535c;
    padding-top: 20px;
    margin-top: 20px !important;
}

.box-33 {
    min-height: 276px;
    padding-top: 48px;
    padding-bottom: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-4 .bg-cinza {
    background: #535353;
    height: 128px;
    margin-bottom: -90px;
}

.box-4 .box-white {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 11px -4px #000;
    margin-bottom: 12px;
    text-align:center;
    padding: 24px 10px;
    min-height: 300px;
    overflow: auto;
}

.botao-1, .botao-1 *{
    background:#15649d;
    color : #00eaff !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 16px;
    font-size: 15px !important;
    padding: 3px 10px !important;
    margin: auto;
    display: inline-block !important;
    float: none !important;
    font-weight: 400;
}
.botao-1 *{
    background:transparent;
}

.botao-1:hover {
    background: #00eaff;
    color: #15649d !important;
}

.botao-1:hover * {
    color: #15649d !important;
    font-weight: 600;
}

.botao-4{
    background:#15649d;
    color : #00eaff;
    border: none;
    box-shadow: none;
    border-radius: 16px;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 34px;
    margin: auto;
    display: inline-block;
    float: none !important;
}
.botao-4:hover  {
    color: #15649d ;
    background:#00eaff;
    font-weight: 600;
}

.box-4 .box-white  p{
    font-size: 16px;
    text-align:center;
}
.box-4 h2, .box-4 h3, .box-4 h4 {
    font-weight: 600;
    color: #15649d;
    margin-bottom: 20px;
}

html .box-4 .botao-1 {
    margin: 12px auto;
    display: block;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -70px;
    width: 140px;
}

.botao-2 {
    background: #00eaff;
    border: none;
    padding: 8px 34px;
    border-radius: 23px;
    height: 39px;
    font-weight: 600;
    color: #15649d;
}

.box-33 input[type="email"] {
    width: 100%;
    border-radius: 19px;
    height: 39px;
    padding-left: 20px;
    /* padding-right: 10px; */
    font-weight: 500;
    border: none;
}

html div.wpcf7-validation-errors, div.wpcf7-acceptance-missing,div.wpcf7-mail-sent-ng, div.wpcf7-aborted {
    background: transparent;
    color: #fff;
    border-color: red;
    background: red;
    text-align: center;
}

html span.wpcf7-not-valid-tip {
    display: none;
}

.box-33 .wpcf7 {
    max-width: 573px;
    margin: auto;
}

.botao-3 {
    background: #00eaff;
    border-radius: 55px;
    color: #1d1d67;
    text-decoration: none !important;
    margin: 0px 10px;
    height: 40px;
    padding: 9px 32px !important;
    font-weight: bold !important;
    text-align: center;
}

html .botao-3:hover {
    color: #fff !important;
    background-color: #286090 !important;
    border-color: #204d74;
}

.user-links li a {
    padding-top: 12px;
}

.navbar-default .navbar-nav>li>a.botao-3 {
    margin-right: 20px;
    margin-top: 6px;
}

.banner-title-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 195px;
    color: #fff;
    font-weight: 800;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-title-page * {
    font-weight: bold;
    font-size: 3.3em;
    text-align: center;
}

.bg-crie-sua-conta{
    background:url('../img/img1-crie-sua-conta.png') center no-repeat;
    background-size: cover;
    background-position-x: 0;
    background-position-y: center;
}

html div.wpcf7 .ajax-loader {
    position: absolute;
    z-index: 99999;
    right: 36px;
    top: 12px;
}

html .form-contato div.wpcf7 .ajax-loader {
    right: 30px;
}

html .form-crie-sua-conta form {
    max-width: 348px;
}


.form-crie-sua-conta h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 19px;
}

.form-crie-sua-conta {
    padding: 4% 6%;
    margin-left: 7%;
    /* max-width: 535px; */
}

.form-crie-sua-conta .msg {
    color: #fff;
    max-width: 351px;
    padding: 10px;
    display: none;
}

.form-crie-sua-conta .msg p {
    color: #fff;
}

.form-crie-sua-conta .msg p {font-weight: bold;}

.row.form-crie-sua-conta h4 {
    color: #00eaff;
    font-weight: 600;
    font-size: 28px;
}

.texto-customizado strong {
    color: #15649d;
    font-weight: 700;
}

.texto-customizado a {
    color: #585858;
    font-weight: 500;
}

.texto-customizado {
    margin-bottom: 22px;
}
.form-contato {
    padding-top: 60px;
}

.form-contato textarea {
    height: 184px;
}

.form-contato .form-crie-sua-conta .msg {
    color: #585858;
}

.form-contato .form-crie-sua-conta h4 {
    color: #15649d;
}

.form-contato .form-crie-sua-conta .msg .icon {
    float: right;
}
html .box-4.box-4-mouser-over .botao-1 {
    width: 50px;
    text-align: center;
    padding: 7px 0px !important;
    height: 49px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    margin-left: -22px;
    top: -31px;
}

html .box-4.box-4-mouser-over .botao-1 a {
    width: 100%;
    margin: 0px;
}

html .box-4.box-4-mouser-over .botao-1 span {
    font-size: 26px !important;
    padding: 4px !important;
    margin: 0px;
}

.box-4-mouser-over .col-md-4:hover .box-white, .box-4-mouser-over .col-md-4.active .box-white {
    background: #15649d;
    color: #fff;
    cursor:pointer;
}

.box-4-mouser-over .col-md-4:hover .box-white h3, .box-4-mouser-over .col-md-4.active .box-white h3 {
    color: #fff;
}
.box-4-mouser-over .col-md-4:hover .box-white p, .box-4-mouser-over .col-md-4.active .box-white p {
    color: #fff;
}

html .box-4-mouser-over .col-md-4:hover .botao-1,
html .box-4-mouser-over .col-md-4.active .botao-1
{
    background: #00eaff;
    color: #15649d !important;
}

html .box-4-mouser-over .col-md-4:hover .botao-1 *,
html .box-4-mouser-over .col-md-4.active .botao-1 * 
{
    color: #15649d !important;
}

.area-cinza {
    background: #dcdcdc;
    padding-top: 290px;
    position: relative;
    margin-top: -270px;
    padding-bottom: 50px;
}
.box-4-mouser-over {
    position: relative;
    z-index: 1;
}

.area-cinza .box-4-mouser-over {
    position: relative;
    z-index: 1;
}

.area-cinza .bt_bb_accordion_item_content h2 {
    color: #15649d;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 15px;
}

.area-cinza .bt_bb_accordion_item_content p {
    color: #333;
    font-size: 16px;
}

.area-cinza .bt_bb_accordion_item_content p strong {
    color: #15649d;
    font-weight: 400;
}

.bt_bb_accordion_item_title {
    display: none;
}

.bt_bb_accordion_item {
    border: none !important;
}

.bt_bb_masonry_post_image_content.masonry {
    height: 100px !important;
}

.font-2 b, .font-2 strong {
    font-size: 23px;
    color: #1564aa;
    max-width: 90%;
    float: left;
}

.width-200 {
    width: 200px;
    height: auto;
}
.missao-valores-visao {
    background: #585858;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.missao-valores-visao h2 {
    color: #00eaff;
}

.missao-valores-visao p {
    color: #fff;
}

.icon-user {
    height: 18px;
    width: 18px;
    background: url('../img/icon-user.png') center no-repeat;
    display: inline-block;
    position: relative;
    top: 4px;
    left: 4px;
    background-size: cover;
}

a.menulink1 {
    margin-top: 21px;
    display: block;
    color: #3484cc;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    right: 0px;
    text-decoration: none;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@media (print), (prefers-reduced-motion) {
    .animated {
        -webkit-animation: unset !important;
        animation: unset !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

#siteseal img {
    max-width: 158px;
}
.bg-crie-sua-conta .wpcf7-response-output.wpcf7-display-none.alert.wpcf7-mail-sent-ok.alert-success {
    display: none !important;
}

ul.menu-footer img {
    height: 33px;
    width: auto;
    max-width: initial;
}


/*-------------------------------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
    .desktop{
     display:none !important;
 }
 .mobile{
     display: block !important;
 }
 html header #myNavbar {
     height:auto !important;
     top: -10px;
 }
 .container-fluid {
     padding-left: 15px;
     padding-right: 15px;
 }

 .padding-mobile {
    padding-left: 15px;
    padding-right: 15px;
}


.menu-footer-bottom li {
    width: 100%;
    text-align: left;
}

.menu-footer-bottom li a:before {
    display: none;
}

img.logo-sub-footer {
    float: left;
}

.menu-footer-bottom {
    float: left;
}

html .no-padding-right-desktop {
    padding-right: 15px;
}

.form-crie-sua-conta {
    background: url(../img/img1-crie-sua-conta.png) center no-repeat;
    background-position: top right;
    background-size: inherit;
    margin: 2px;
    padding: 5%;
}



.bg-crie-sua-conta{
    background:none;
}

.form-contato .form-crie-sua-conta {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding-top: 31px;
    background: url(../img/img1-crie-sua-conta.png) center no-repeat;
    background-position: top right;
    background-size: inherit;
}



html .bt_bb_grid_item.bt_bb_tile_format11.masonry-brick {
    height: 89px !important;
    top: 36px !important;
    position: relative !important;
    width: 165px;
    float: left;
    text-align: center !important;
}

a.menulink1 {
    position: relative;
    width: 100%;
    float: left;
}

.box-4 .box-white {    
    min-height: 211px;
    margin-top:20px;
}

html .page-id-28 .box-4 .botao-1
{
    margin-bottom: 47px;
}

html .logo-sub-footer {
    margin:23px;
}

.menu-footer-bottom li.current_page_item {
    margin-bottom: -10px;
}
}